.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-icons i {
  transition: transform 0.2s ease-in-out;
  color: cornflowerblue;
}

.footer-icons i:hover {
  color: blue;
  transform: scale(1.5);
}
